.about {
  background-image: url("https://rutraveller.ru/icache/u_f/i/Firez/al290198/252/350412_1380x1040.JPG");
  margin-top: -20px;
}
.container {
  margin: 0 auto;
  background-color: rgb(255, 255, 255, 0.2);
  width: 90vw;
  margin-top: 15px;
  border-radius: 10px;
}
.textH2 {
  color: rgb(122, 0, 0);
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.textH3 {
  color: rgb(255, 0, 0);
  text-align: center;
  margin-bottom: 20px;
}
.textH4 {
  color: rgb(255, 255, 255);
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
}

.aboutButton:hover {
  color: rgb(0, 0, 0);

  transition-duration: 2s;
}
