.detailsWrap {
  display: flex;
  background-image: url("https://funart.pro/uploads/posts/2021-04/1617273376_41-p-oboi-gori-kirgizii-44.jpg");
  height: 92vh;
}
.detailsList {
  margin-top: 25vh;
  color: black;
  text-align: center;
}
.detailSpan {
  margin-left: 10vw;
  color: red;
  font-size: 28px;
}
.buttonDetail {
  top: 0;
  margin-left: -60vw;
}
.detailImg {
  margin-left: 2.5vw;
  width: 40vw;

  margin-top: 10vh;
  margin-bottom: 25vh;
}
@media (max-width: 500px) {
  .detailImg {
    margin-left: 22vw;
    width: 60vw;
  }
  .detailsList {
    margin-top: 40vh;
    margin-left: -80vw;
  }
}
