*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
.imgLogo {
  width: 120px;
}
li {
  list-style: none;
}
a {
  margin-left: 0.7vw;
  font-size: 20px;
  text-decoration: none;
  color: rgb(252, 252, 252);
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 7vh;
  background-image: url("https://images.wallpaperscraft.ru/image/single/zvezdnoe_nebo_chelovek_svet_blesk_118118_1920x1080.jpg");
  position: fixed;
}
.nav__brand {
  text-transform: uppercase;
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}
.nav__toggler {
  display: none;
}
.nav__toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(204, 204, 204);
  transition: 0.3s ease-in;
}

@media screen and (max-width: 768px) {
  .nav__toggler {
    display: block;
    cursor: pointer;
  }
  a {
    margin-left: -5vw;
  }
  .nav__menu {
    position: fixed;
    top: 7vh;
    right: 0;
    height: 93vh;
    width: 40vw;
    background-image: url("https://images.wallpaperscraft.ru/image/single/zvezdnoe_nebo_chelovek_svet_blesk_118118_1920x1080.jpg");
    flex-direction: column;
    transform: translateX(100%);
    transition: 1s ease-in;
  }
}
/* Active Class */
.nav__active {
  transform: translateX(0%);
}

/* Toggle Icon Animation */

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}
